In [2]:
import pandas as pd
df=pd.read_excel('sample_data_v4.xlsx')

In [3]:
df.head()

,Application ID,Current City,Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,MS0001,Pune,"Machine Learning, Python",Don Bosco Institute of Technology,Bachelor of Engineering (B.E),Mechanical Engineering,2018,NaN,8.13/10,NaN,NaN
1,MS0002,Pune,"Machine Learning, Python","PES MCOE, Pune",Bachelor of Engineering (B.E),Electronics and Telecommunication Engineering ...,2018,NaN,66.00/100,NaN,NaN
2,MS0003,Navi Mumbai,"Data Analytics, Data Science, Machine Learning...",Imarticus Learning,PG Diploma in Data Science,NaN,2020,NaN,7.00/10,NaN,NaN
3,MS0004,Bangalore,"Data Analytics, Algorithms, C Programming, Dat...",Dayananda Sagar Institutions,Bachelor of Technology (B.Tech),Information Technology,2022,NaN,NaN,86.80/86.80,10.00/10.00
4,MS0005,Mumbai,"Artifical Intelligence, Computer Vision, Deep ...",Pillai Hoc College Of Engineering And Technolo...,Bachelor of Engineering (B.E),Information Technology,2020,NaN,6.22/10,NaN,NaN

In [4]:
df.dropna(subset=['Other skills'],inplace=True)
df.isnull().sum()

Application ID                   0
Current City                     0
Other skills                     0
Institute                       13
Degree                          85
Stream                          93
Current Year Of Graduation       0
Performance_PG                1786
Performance_UG                 326
Performance_12                 759
Performance_10                 858
dtype: int64

In [6]:
skills=set()
l1=[]
for i in df['Other skills']:
    l1=i.split(',')
    for j in l1:
        skills.add(j.lstrip())
        
for i in skills:
    df[i]=0

In [7]:
for it,i in enumerate(df['Other skills']):
    l2=i.split(',')
    for j in l2:
        j=j.lstrip()
        df[j].iloc[it]=1

/home/rishabh/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
df

,Application ID,Current City,Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,...,Report Writing,Cloud Computing,Ethical Hacking,Computer Networking,Circuit Design,Java,Algorithms,Web Application Security,OpenGL,Elasticsearch
0,MS0001,Pune,"Machine Learning, Python",Don Bosco Institute of Technology,Bachelor of Engineering (B.E),Mechanical Engineering,2018,NaN,8.13/10,NaN,...,0,0,0,0,0,0,0,0,0,0
1,MS0002,Pune,"Machine Learning, Python","PES MCOE, Pune",Bachelor of Engineering (B.E),Electronics and Telecommunication Engineering ...,2018,NaN,66.00/100,NaN,...,0,0,0,0,0,0,0,0,0,0
2,MS0003,Navi Mumbai,"Data Analytics, Data Science, Machine Learning...",Imarticus Learning,PG Diploma in Data Science,NaN,2020,NaN,7.00/10,NaN,...,0,0,0,0,0,0,0,0,0,0
3,MS0004,Bangalore,"Data Analytics, Algorithms, C Programming, Dat...",Dayananda Sagar Institutions,Bachelor of Technology (B.Tech),Information Technology,2022,NaN,NaN,86.80/86.80,...,0,0,0,0,0,0,1,0,0,0
4,MS0005,Mumbai,"Artifical Intelligence, Computer Vision, Deep ...",Pillai Hoc College Of Engineering And Technolo...,Bachelor of Engineering (B.E),Information Technology,2020,NaN,6.22/10,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,MS2164,Hyderabad,"Database Management System (DBMS), HTML, Pytho...","KIIT University, Bhubaneshwar",Bachelor of Technology (B.Tech),Computer Science & Engineering,2020,NaN,75.00/100,NaN,...,0,0,0,0,0,0,0,0,0,0
2164,MS2165,Bangalore,"CSS, Cloud Computing, HTML, PHP, Python, Andro...",L. N. C . T. Jabalpur,Master of Computer Applications (MCA),Computer Application,2020,7.78/10,6.80/10,NaN,...,0,1,0,0,0,0,0,0,0,0
2165,MS2166,Nagpur,"CSS, HTML, JavaScript, Python",Vellore Institute of Technology,Bachelor of Engineering (B.E),Electronics and Telecommunication Engineering ...,2020,NaN,6.10/10,62.62/62.62,...,0,0,0,0,0,0,0,0,0,0
2166,MS2167,Kanpur,"Android, C Programming, C++ Programming, Pytho...",Kakatiya Institute of Technology and Science,Bachelor of Technology (B.Tech),Computer Science & Engineering,2020,NaN,6.50/10,62.50/62.50,...,0,0,0,0,0,0,0,0,0,0
2167,MS2168,Durgapur,"C Programming, C++ Programming, JavaScript, CS...",National Institute Of Electronics & Informatio...,Master of Computer Applications (MCA),Computer Application,2020,6.40/10,63.06/100,64.00/64.00,...,0,0,0,0,0,1,0,0,0,0

required skills according to question

In [11]:
skill1=['HTML', 'CSS', 'Bootstrap', 'AJAX', 'JavaScript', 'Google Cloud Computing','Amazon Web Services (AWS)','PHP', 'MySQL','Git SVN','GitHub','REST API','JSON']
skill2=['HTML','CSS', 'MongoDB', 'Express', 'React.js','Node.js','Google Cloud Computing','Amazon Web Services (AWS)', 'ES6', 'Redux', 'JavaScript','Python', 'Linux', 'JSON']
skill3=['Python', 'TensorFlow', 'PyTorch', 'NumPy', 'PyPI', 'Sci-kit learn', 'Statistical Modelling', 'Machine Learning','Heroku','Google Cloud Computing','Amazon Web Services (AWS)',' Deep Learning', 'SQL', 'JSON','Flask']

In [12]:
x=df.drop(['Current City','Other skills','Performance_10','Institute','Degree','Stream','Current Year Of Graduation','Performance_PG','Performance_UG','Performance_12'],axis=1)

In [13]:
for i in range(2130):
    c=0
    for j in skill2:
        try:
            x[j].iloc[i]
        except:
            x[j]=0
        finally:
            if(x[j].iloc[i]==1):
                c+=1

In [14]:
for i in range(2130):
    c=0
    for j in skill3:
        try:
            x[j].iloc[i]
        except:
            x[j]=0

        finally:
            if(x[j].iloc[i]==1):
                c+=1

In [15]:
x['WEB']=0
x['FSD']=0
x['MLD']=0

In [17]:
x

,Application ID,LaTeX,Malayalam Proficiency (Spoken),Heroku,Stripe Payment API,Blogging,Power BI,.NET,Machine Learning,Adobe Photoshop Lightroom CC,...,TensorFlow,PyTorch,NumPy,PyPI,Sci-kit learn,Statistical Modelling,Deep Learning,WEB,FSD,MLD
0,MS0001,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,MS0002,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,MS0003,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,MS0004,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,MS0005,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,MS2164,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2164,MS2165,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2165,MS2166,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2166,MS2167,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2167,MS2168,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
skill1=['HTML', 'CSS', 'Bootstrap', 'AJAX', 'JavaScript', 'Google Cloud Computing','Amazon Web Services (AWS)','PHP', 'MySQL','Git SVN','GitHub','REST API','JSON']
skill2=['HTML','CSS', 'MongoDB', 'Express', 'React.js','Node.js','Google Cloud Computing','Amazon Web Services (AWS)', 'ES6', 'Redux', 'JavaScript','Python', 'Linux', 'JSON']
skill3=['Python', 'TensorFlow', 'PyTorch', 'NumPy', 'PyPI', 'Sci-kit learn', 'Statistical Modelling', 'Machine Learning','Heroku','Google Cloud Computing','Amazon Web Services (AWS)',' Deep Learning', 'SQL', 'JSON','Flask']

In [19]:
for i in range(2130):
    c=0
    for j in skill1:
        if(x[j].iloc[i]==1):
            c+=1
    if c>=4:
        x['WEB'].iloc[i]=1

In [20]:
for i in range(2130):
    c=0
    for j in skill2:
        try:
            x[j].iloc[i]
        except:
            x[j]=0
        finally:
            if(x[j].iloc[i]==1):
                c+=1
    if c>=4:
        x['FSD'].iloc[i]=1

In [21]:
for i in range(2130):
    c=0
    for j in skill3:
        try:
            x[j].iloc[i]
        except:
            x[j]=0

        finally:
            if(x[j].iloc[i]==1):
                c+=1
    if c>=3:
        x['MLD'].iloc[i]=1

In [22]:
x

,Application ID,LaTeX,Malayalam Proficiency (Spoken),Heroku,Stripe Payment API,Blogging,Power BI,.NET,Machine Learning,Adobe Photoshop Lightroom CC,...,TensorFlow,PyTorch,NumPy,PyPI,Sci-kit learn,Statistical Modelling,Deep Learning,WEB,FSD,MLD
0,MS0001,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,MS0002,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,MS0003,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,MS0004,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,MS0005,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,MS2164,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2164,MS2165,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2165,MS2166,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2166,MS2167,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2167,MS2168,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [23]:
arr=x.columns.values[1:]
arr

array(['LaTeX', 'Malayalam Proficiency (Spoken)', 'Heroku',
       'Stripe Payment API', 'Blogging', 'Power BI', '.NET',
       'Machine Learning', 'Adobe Photoshop Lightroom CC', 'EAGLE',
       'Digital Marketing', 'Manual Testing', 'MongoDB', 'C#.NET',
       'Image Processing', 'R Programming', 'Financial Modeling',
       'Raspberry Pi', 'PTC Creo', 'Database Testing',
       'NX Siemens (formerly Unigraphics NX)',
       'Computational Neuroscience', 'Atmel AVR', 'Articulate Storyline',
       'Computer Vision', 'Ethereum', 'Adobe XD',
       'French Proficiency (written)', 'MEAN/MERN Stack', 'Bootstrap',
       'Google AdWords', 'SPSS', 'Adobe Premiere Pro',
       'Microsoft Visual Studio', 'JSON', 'Adobe Illustrator',
       'Express.js', 'Software Testing', 'Python',
       'Windows Mobile Application Development', 'MS-Office',
       'Natural Language Processing (NLP)', 'CSS', 'AngularJS', 'Perl',
       'Autodesk Fusion 360', 'Audacity', 'Redux', 'QuarkXPress', 'MySQL',
       'Model View Controller(MVC)', 'MS-Excel', 'Adobe Dreamweaver',
       'Autodesk Revit', 'Spanish Proficiency(Written)',
       'Artifical Intelligence', 'Adobe Fireworks', 'JavaFX',
       'Blockchain', 'Kannada Proficiency (Spoken)', 'Computer Networks',
       'Tally', 'ERP Implementation and Deployment', 'JavaScript',
       'Data Analytics', 'Dart', 'Internet of Things (IoT)',
       'Oriya Proficiency(Written)', 'Oriya Proficiency(Spoken)',
       'Oracle', 'ReactJS', 'Apache Cassandra', 'Firebase',
       'Telugu Proficiency (Spoken)', 'ARM Microcontroller',
       'Objective C', 'Embedded Systems', 'iOS', 'LARAVEL', 'Malayalam',
       'OrCAD', 'ArcGIS', 'Adobe Creative Suite', 'J2EE', 'Tableau',
       'Email Marketing', 'Flutter', 'Catia', 'Distributed Computing',
       'Docker', 'Bengali Proficiency (Written)', 'SAP', 'Jenkins',
       'Video Making', 'Autodesk Inventor', 'BIG DATA ANALYTICS',
       'GNU Octave', 'XML', 'Linux', 'Mathematics', 'Linear Programming',
       'WordPress', 'Hindi Proficiency(Written)', 'SAS', 'Wireframing',
       'Economics', 'ASP.NET', 'Neural Networks', 'Apache',
       'Google Cloud Computing', 'PCB Design', 'Servlets', 'NI Multisim',
       'Blender 3D', 'Robotics', 'Adobe Flash',
       'Analog And Digital Circuits', 'Verilog',
       'User Interface (UI) Development', 'Salesforce', 'VHDL', 'Arduino',
       'Telugu Proficiency (Written)', '3ds Max', 'Microsoft Azure',
       'DevOps', 'AutoCAD', 'Unity 3D', 'SCSS', 'Kannada',
       'C Programming', 'Golang', 'Hindi Proficiency(Spoken)',
       'Eclipse (IDE)', 'Bengali Proficiency (Spoken)', 'STAAD.Pro',
       'NoSQL', 'Materialize', 'AJAX', 'REST API', 'Adobe Indesign',
       'Unix', 'Digital Signal Processing', 'Video Editing',
       'Swing (Java)', 'Facebook Marketing', 'MATLAB', 'Joomla',
       'Shell Scripting', 'Hindi Proficiency (Spoken)', 'ElectronJS',
       'Data Science', 'Physics', 'Apache Kafka', 'Event Management',
       'C#', 'Node.js', 'Teaching', 'jQuery', 'Creative Writing',
       'SQLite', 'GitHub', 'MS-PowerPoint',
       'Search Engine Marketing (SEM)', 'Magento', 'Android', 'Ansible',
       'Firebase Cloud Messaging', 'Punjabi Proficiency (Spoken)',
       'Flask', 'Amazon Web Server (AWS)', 'Tamil Proficiency (Spoken)',
       'Social Media Marketing', 'HTML', 'Hadoop', 'LabVIEW',
       'Deep Learning', 'TypeScript', 'Django', 'CCNA', 'CodeIgniter',
       'PostgreSQL', 'Kubernetes', 'Sketch', 'Data Structures', 'Minitab',
       'Instagram Marketing', 'Accounting', 'Photography',
       'Proteus Design Suite', 'COMSOL', 'Sass', 'Angular 7.0',
       'English Proficiency (Spoken)', 'JSP', 'Copywriting', 'MS-Word',
       'MS SQL Server', 'Google Analytics', 'French Proficiency (spoken)',
       'Malayalam Proficiency (Written)', 'Statistical Modeling',
       'OpenCV', 'Hindi Proficiency (Written)',
       'Spanish Proficiency(Spoken)', 'STATA',
       'Amazon Web Services (AWS)', 'Robotic Process Automation (RPA)',
       'Punjabi Proficiency (Written)', 'Primavera',
       'Autodesk SketchBook', 'SolidWorks', 'Adobe Audition', 'Git SVN',
       'Odoo', 'Bioinformatics', 'PHP', 'Ruby on Rails', 'Angular 2.0',
       'Hibernate (Java)', 'Kotlin', 'PLC SCADA', 'Chemistry',
       'Autodesk Maya', 'VLSI', 'LibreOffice', 'Vue Js',
       'English Proficiency (Written)', 'C++ Programming', 'ANSYS', 'SQL',
       'Database Management System (DBMS)', 'CorelDRAW', 'Spring MVC',
       'Biology', 'Swift', 'Adobe After Effects',
       'Search Engine Optimization (SEO)', 'Visual Basic (VB)',
       'UI & UX Design', 'Six Sigma', 'GIMP', 'React Native',
       'Product Lifecycle Management(PLM)', 'Adobe Photoshop',
       'Report Writing', 'Cloud Computing', 'Ethical Hacking',
       'Computer Networking', 'Circuit Design', 'Java', 'Algorithms',
       'Web Application Security', 'OpenGL', 'Elasticsearch', 'Express',
       'React.js', 'ES6', 'TensorFlow', 'PyTorch', 'NumPy', 'PyPI',
       'Sci-kit learn', 'Statistical Modelling', ' Deep Learning', 'WEB',
       'FSD', 'MLD'], dtype=object)

In [24]:
# d1=x[x['WEB']==1]
# d2=x[x['FSD']==1]
# d3=x[x['MLD']==1]
# d3

In [25]:
d1=x.drop(['MLD','FSD'],axis=1)
d2=x.drop(['MLD','WEB'],axis=1)
d3=x.drop(['WEB','FSD'],axis=1)

In [26]:
d1

,Application ID,LaTeX,Malayalam Proficiency (Spoken),Heroku,Stripe Payment API,Blogging,Power BI,.NET,Machine Learning,Adobe Photoshop Lightroom CC,...,React.js,ES6,TensorFlow,PyTorch,NumPy,PyPI,Sci-kit learn,Statistical Modelling,Deep Learning,WEB
0,MS0001,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,MS0002,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,MS0003,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,MS0004,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,MS0005,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,MS2164,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2164,MS2165,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2165,MS2166,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2166,MS2167,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2167,MS2168,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# MODEL (web developer)

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X=d1.drop(['Application ID','WEB'],axis=1)
y=d1['WEB']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=44)

In [30]:
from sklearn.linear_model import LogisticRegression

In [31]:
model1=LogisticRegression()
model1.fit(X_train,y_train)

/home/rishabh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
pred=model1.predict(X_test)

In [33]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,pred))
print(confusion_matrix(y_test,pred))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99       609
           1       0.98      0.94      0.96        94

    accuracy                           0.99       703
   macro avg       0.98      0.97      0.97       703
weighted avg       0.99      0.99      0.99       703

[[607   2]
 [  6  88]]

# MODEL (Full stack developer)

In [36]:
X2=d2.drop(['Application ID','FSD'],axis=1)
y2=d2['FSD']

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.33, random_state=40)

In [37]:
model2=LogisticRegression()
model2.fit(X_train2,y_train2)

/home/rishabh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
pred2=model2.predict(X_test2)

In [39]:
print(classification_report(y_test2,pred2))
print(confusion_matrix(y_test2,pred2))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       594
           1       0.94      0.95      0.95       109

    accuracy                           0.98       703
   macro avg       0.96      0.97      0.97       703
weighted avg       0.98      0.98      0.98       703

[[587   7]
 [  5 104]]

# MODEL (Machine Learning Developer)

In [40]:
X3=d3.drop(['Application ID','MLD'],axis=1)
y3=d3['MLD']

X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.33, random_state=45)

In [41]:
model3=LogisticRegression()
model3.fit(X_train3,y_train3)

/home/rishabh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
pred3=model3.predict(X_test3)

In [43]:
print(classification_report(y_test3,pred3))
print(confusion_matrix(y_test3,pred3))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99       531
           1       0.99      0.95      0.97       172

    accuracy                           0.99       703
   macro avg       0.99      0.97      0.98       703
weighted avg       0.99      0.99      0.99       703

[[529   2]
 [  8 164]]

# Driver program

### enter input

In [105]:
#Enter for role you want to apply 1-web developer,2-fullstack developer,3 machine learning (1/2/3 ) "
a=2 # for machine learning

In [106]:
#enter your skills 
list1=['Machine Learning','Heroku','Amazon Web Services (AWS)',' Deep Learning', 'Python', 'TensorFlow','Sci-kit learn', 'SQL']
 
#list1=['HTML','CSS','MongoDB', 'Express', 'React.js','Node.js','Google Cloud Computing','Amazon Web Services (AWS)']

In [107]:
def func(list1):
    res=[]
    for i in arr:
        if i in list1:
            res.append(1)
        else:
            res.append(0)
    res=res[:-3]
    return res

def req(list1):
    if a==1:
        for i1 in skill1:
            if i1 not in list1:
                print(i1)
    elif a==2:
        for i1 in skill2:
            if i1 not in list1:
                print(i1)
    elif a==3:
        for i1 in skill3:
            if i1 not in list1:
                print(i1)
        


res=func(list1)

if (a==1):
    pred_r=model1.predict([res])
elif (a==2):
    pred_r=model2.predict([res])
elif (a==3):
    pred_r=model3.predict([res])

if pred_r==1:
    print("Shortlisted for interview")
else:
    print("Not selected due to lack of these skills-")
    req(list1)

Shortlisted for interview